@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	font-family: 'inter';
	font-size: 16px;
}
/* CSS HEX */
:root {
	--celeste: #aeecefff;
	--charcoal: #3a4454ff;
	--pink-lavender: #e7bbe3ff;
	--bittersweet-shimmer: #c83e4dff;
	--hunyadi-yellow: #f4b860ff;
}

body {
	margin: 0;
	padding: 0;
	height: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--charcoal);
}
.head,
.main,
.foot {
	width: 100vw;
	padding: 8px 24px;
	text-align: center;
	border: 8px solid var(--paynes-gray);
}
.head {
	height: 4rem;
	background-color: var(--celeste);
	align-content: center;
	font-weight: 700;
	font-size: 1.7rem;
	font-family: 'montserrat', sans-serif;
	color: var(--charcoal);
}
.main {
	height: auto;
}
.foot {
	height: 4rem;
	background-color: var(--celeste);
	align-content: center;
}
