* {
    font-weight: bold;
    margin: 0;
}
header {
    display: flex;
    min-width: 100vw;
    background-color: #2f3e46;
    padding: 1.5rem;
}
header a {
    font-size: 24px;
    font-weight: bold;
}

.dashboard-layout {
    display: grid;
}

.dashboard-layout > div {
    background-color: #f7f9f9;
    color: #702632;
    padding: 0.5rem;
}
