* {
    font-weight: bold;
    margin: 0;
}

header {
    display: flex;
    /* background-color: rgba(47, 62, 70, 0.1); */
    align-items: center;
    padding: 1.5rem;
    grid-area: header;
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); */
}

header a {
    font-size: 24px;
    font-weight: bold;
    color: #702632;
}

.dashboard-layout {
    grid-area: dashboard-content;
    display: grid;
    padding: 24px;
    padding-top: 0;
    /* border: 4px solid greenyellow; */
    grid-template-columns: 2.5fr 2.5fr 2fr 1.5fr 1.5fr;
    grid-template-rows: auto;
    gap: 24px;
    grid-template-areas:
        'basic-stats basic-stats basic-stats basic-stats recent-exercises'
        'basic-stats basic-stats basic-stats basic-stats evaluation'
        'basic-stats basic-stats basic-stats basic-stats goals'
        'metronome metronome practice-control practice-control practice-control';
}

.dashboard-layout > div {
    /* background-color: rgba(47, 62, 70, 0.1); */
    background-color: rgba(
        247,
        249,
        249,
        0.8
    ); /* Translucent version of #7f79f9 */
    color: #702632;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;
}

.basic-stats {
    grid-area: basic-stats;
    border-bottom: 2px solid red;
}

.evaluation {
    grid-area: evaluation;
    /* border: 2px solid blue; */
}

.recent-exercises {
    grid-area: recent-exercises;
    border-left: 2px solid aqua;
}

.goals {
    grid-area: goals;
    /* border: 2px solid purple; */
}
.practice-control {
    grid-area: practice-control;
    border-left: 4px solid #702632;
    display: flex;
    flex-direction: column;
}
.metronome {
    grid-area: metronome;
    border-left: 4px solid #3b82f6;
    text-align: center;
}
